@font-face {
    font-family: "Arial,Helvetica Neue,Helvetica,sans-serif";  
    src: url("https://www.cssfontstack.com/Arial"); 
    font-style: normal; 
    font-weight: normal;
}

#background {
    height: 725px;
    background-color: #84ab30;
}
body {
    background-color: #84ab30; 
    font-family: "Arial,Helvetica Neue,Helvetica,sans-serif"; 
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

 header {
    background-color:#84ab30;
}

.msg{
    line-height: 1.5em;
    background-color: #84ab30;
    padding: 35px;
}
footer{
    background-color: #84ab30;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

#content{
    max-width:  1600px;
    margin: 0 auto;
}


#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box{
    text-align: center;
    color: white
}
main section{
    text-align: center;
}

nav a:hover{
    background-color: #84ab30;
    color: #231604;
}
.home-title{
    font-family: 'Arial,Helvetica Neue,Helvetica,sans-serif';
    font-size: 2em;
    background-color: #84ab30;
    color: #231604;
    margin-top: 10px
}
h4{
    background-color: #84ab30;
    color: #231604;
}

.book:hover, .join:hover{
    background-color: #84ab30;
    color: #231604;
}
.msg h2{
    background-color: #84ab30;
    color: #231604;
}
.msg p{
    font-family: 'Arial,Helvetica Neue,Helvetica,sans-serif';
    font-size: .8em;
    background-color: #84ab30;
    color: #231604;
    padding-bottom: 15px;
}
footer h3{
    background-color: #84ab30;
    color: #231604;
}

footer a:hover{
    background-color: #84ab30;
    color: #231604;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

nav a {
    text-align: center;
    color: #17028e;
    text-decoration: none;
    background-color: #84ab30;
    padding: 35px;
    text-align: center;
}

.book, .join{
    font-family: 'Arial,Helvetica Neue,Helvetica,sans-serif';
    font-size: 18px;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: #25300e;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    
}
footer a{
    text-align: center;
    color: #17028e;
    text-decoration: none;
    background-color: #84ab30;
}

footer p a:hover {
    text-decoration: underline;
}

#logo_link {
    padding-top: 5px;
}  
  
footer .social img {
    padding-top: 15px;
}


.rivers-card .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #3e4f19;
}
main section img {
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
}
        
nav {
    display: flex;
    justify-content: space-around;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}


#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
      
#hero-msg h4 {
    color: white;
}
   

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

.card-img, .mountains {
    width: 100%;
}

.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.rivers-card{
grid-row-start: 2/10;
grid-row-end: 3/10; 
grid-column-start: 2/10;
grid-column-end: 4/10;
margin: 200px 0;
}

.camping-card{
grid-row-start: 2/10;
grid-row-end: 3/10; 
grid-column-start: 5/10;
grid-column-end: 7/10; 
margin: 200px 0;
}
.rapids-card{
    grid-row-start: 2/10;
grid-row-end: 3/10; 
grid-column-start: 8/10;
grid-column-end: 10/10;
margin: 200px 0;
}


#background{
    grid-row-start:4/10;
    grid-row-end: 9/10; 
grid-column-start: 1/11 ;
grid-column-end:11/11 ;
}



.mountains{
    grid-row-start: 5/10;
    grid-row-end:8/10 ;
    grid-column-start:2/10;;
    grid-column-end: 7/10 ;
}

.msg{
    grid-row-start: 6/10;
    grid-row-end:7/10 ;
    grid-column-start:6/10;;
    grid-column-end: 10/10 ;
}

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
