@font-face {
    font-family: "Arial,Helvetica Neue,Helvetica,sans-serif";  
    src: url("https://www.cssfontstack.com/Arial"); 
    font-style: normal; 
    font-weight: normal;
}

#background {
    height: 725px;
    background-color: hsl(232, 91%, 49%);
    grid-row:4/9;
    grid-column: 1/11;
}
body {
   /* background-color: #84ab30; */
    font-family: "Arial,Helvetica Neue,Helvetica,sans-serif"; 
    font-size: 22px;
    margin: 0;
    padding: 0;
}

footer{
    background-color: #faef0d;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.logo{
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    
}

nav a {
    text-align: center;
    color: #fcff3c;
    text-decoration: none;
    background-color: #072cff;
    padding: 35px;
    text-align: center;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#content{
    max-width:  1600px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color:#072cff;
}



.paragraph {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}




.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.home-grid h3{
    margin-left: 600px;
    
}

.paragraph1{
    padding-top: 200px;
    padding-right: 40px;
}

.paragraph2{
    padding-top: 120px;
    padding-left: 40px;
}

.paragraph3{
    padding-top: 200px;
    padding-right: 40px;
}

.img{
    border: 10px solid #002bc8;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #c7e772;
    width: 400px;
    height: 400px;
   
    margin-top: 0;
}

.img1 {
    margin-left: 90px;
    border: 10px solid #002bc8;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #c7e772;
    width: 400px;
    height: 400px;
   
    margin-top: 0;
}

.img2 {
    margin-left: 90px;
    border: 10px solid #002bc8;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #c7e772;
    width: 400px;
    height: 400px;
   
    margin-top: 0;
}

.img3 {
    margin-left: 90px;
    border: 10px solid #002bc8;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #c7e772;
    width: 400px;
    height: 400px;
   
    margin-top: 0;
}

.Navigation_links {
    margin-left: 60px;
    margin-bottom: 80px;
}

.Ingredients {
    margin-left: 60px;
}

.dough{
    text-align: center;
}

.cooking{
    text-align: center;
}
.serving{
    text-align: center;
}
